* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}
.footer {
  box-sizing: border-box;
  position: relative;
  top: 25px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  margin-bottom: 2em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  @media screen and(min-width:1000px) {
    flex-direction: row;
    align-items: flex-start;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    
      
    
  }
  .titulo_footer {
    position: relative;
    display: flex;
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-family: "IBM Plex Mono", monospace, sans-serif;
    font-size: 0.85rem;
    text-align: center;
    letter-spacing: 0px;
    line-height: 22px;
    color:#060a24;
     
    @media screen and(min-width:1000px) {
     width: 269px;
     font-size: 16px;
     margin-top: 36px;
     margin-left: 27px;
     align-self: flex-start;
    }
  }

  .image_footer {
    width: 90%;
    margin-left: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    
    .image{
      color: #060a24
    }

    @media screen and(min-width:1000px) {
      width: 274px;
      margin-right: 7%;
      margin-top: 36px;
      margin-left: auto;
      justify-content: space-evenly;      
    }
  }
}